<div class="card" style="border-style: none;">
  <div class="card-title" style=" background-color:(0, 0, 0, 0);">
     <strong>
      <%= link_to trip.title, trip_path(trip), style: 'color:black; font-size: 24px; font-family: Cabin;'
       %>
     </strong>
  </div>
  <div class="card-body" style=" background-color:(0, 0, 0, 0);">
    <%= cl_image_tag(trip.photo, width: 300, crop: 'fill') %>
  </div>
</div>
