<h1>Trips Show</h1>
<br>
<h2>Selected trip will be shown here</h2>
<br>
<%= link_to "Edit trip", trip_path(1) %>
<br>
<%= link_to "Return to Trips Index", edit_trip_path %>

<p>Button to delete trip</p>
