<p>Hi there,</p>

<p>Your have received a new application to join your adventure!</p>
<p>Vist the link below to view and respond to applications!</p>
<a href="<%= trip_group_members_url(@trip) %>">  Click here! </a>

<p>Seek ya later!</p>
