<p>Hi there,</p>

<p>Your have received a new appliucation to join your adventure!</p>
<p>Vist the link below to view and respond to applications!</p>
<p>http://www.seekrs.fun/trips/4/group_members</p>

<p>Seek ya later!</p>
