.devise-login {
  margin: 0 auto;
  margin-top: 150px;
}

.show-holder {
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 800px;
  line-height: 25px;
  margin-top: 50px;
  margin-bottom: 24px;
   h1 {
    text-align: center;
    color: black;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.info {
  margin: 20px;
}

.i {
display: inline;
}

.inline-buttons {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.form-header {
  background-color: #72ebd1;
  color: white;
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  h1 {
    margin: 0;
    color: white;
  }
}

.form-content {
  padding: 20px;
}

.login {
    color: #3CEAD0 ;
    text-decoration: none;
    font-size: 24px;
    padding: 0;
   &:hover {
    text-decoration: none;
    color: black;
  }
 }

 .return {
    color: #3CEAD0 ;
    text-decoration: none;
    font-size: 24px;
    padding: 0;
    font-size: 16px;
    margin-top: 8px;
      &:hover {
    text-decoration: none;
    color: black;
   }
 }

.sign-up-img {
  background:linear-gradient(100deg,rgba(28,49,53,0.65), rgba(0,0,0,0.20)), url(https://images.unsplash.com/photo-1497501849790-78f74380d9d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  top:0;
  right:0;
  left:0;
  overflow:hidden;
  }

  .line{
    border-bottom: 4px solid black;
    display: inline-block;
    line-height: 1.5;
   }
