.card .profile-card {
  width: 500px;
  margin-left: 100px;
}

.profile-container {
  width: 700px;
}

.card-organised {
  padding-left: 0;

}

li {
  list-style: none;

}

.card-text {
  text-align: left;
}

ul {
    margin-left: 0;
    padding-left: 0;
}
