
.profile-card {
  border: none;
  width: 96%

}

.profile-content {
  margin-right: none;
}


.container-img {
  position: relative;
  text-align: center;
  color: white;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 6px;
  left: 16px;
  text-align: center;
}

.bottom-right {
  position: absolute;
  bottom: 6px;
  right: 16px;
  padding: none;

}

.tab {
  margin-top:-47px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: black ;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline #3CEAD0;
    border: none;
    width: 200px;
    font-family: Cabin;
    height: 60px;
    width: 50%;
   &:hover {
    text-decoration: none;
    color: black;
    border: none;
    transition: 0.3s;
 }
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f7f8f;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  outline: none;
}
.tab button {
  background-color: white;
  outline: none;
}

.tab button.inactive {
  background-color: lightgray;
  outline: none;
}
.tab button.inactive.active {
  background-color: white;
  outline: none;
}

/* Style the tab content */
.tabcontent {
  border-top: none;
  background-color: white;
  padding: 16px;
}

.inactive {
  text-decoration: none !important;
  background-color: gray;
}
.active {
  display: block;
}

.tablinks {
    border-bottom: 4px solid white;
    border-radius: 4px 4px 0px 0px;
    // display: inline-block;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    &:hover{}
  }



/*trip card */
#profile {
  border: none;
}

#user-card {
  width: 96%;
  border: none;
  margin: 20px;
}
 #user-name {
  margin-left: 20px;
 }

.profile-text{
  color: #fff;
  margin-left: 3%;
  margin-right: none;
}


.user-info {
  height: 350px;
  justify-content: space-around;
  border-radius: 4px;
  position: relative;
  width: 100%;
  background-image:
  linear-gradient(100deg,
      rgba(28, 49, 53, 0.65),
      rgba(0, 0, 0, 0.2)),
    asset-url(home-splash);
    background-position: center;
}

.cl-img {
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  left: 39%;
  border: 5px solid white;
}

// .bio {
//   width: 450px;
// }


.trip-card {
  border: none !important;
  transition: transform .5s;
  height: 100%;
  // margin-bottom: 16px;
  .card-info{
    max-width: 239px;
    margin: 8px 0 8px 8px;
  }
  .green-dot {
    color: #72ebd1;
    font-size: 8px;
  }
  .title {
    color: #a7a7a7;
    font-size: 14px;
    font-family: IBM Plex Sans;
  }
  .description {
    font-size: 18px;
    font-family: Cabin;
  }
  .subtitle {
    font-family: IBM Plex Sans;
    font-size: 16px;
    color: #a7a7a7;
  }
  &:hover
  {
    transform: scale3d(1.04, 1.04, 1.04);
  }
}

@media only screen and (max-width: 1100px) {
  .cl-img {
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 295px;
    left: 41%;
    border: 5px solid white;
  }
}

@media only screen and (max-width: 800px) {
  .cl-img {
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 295px;
    left: 38%;
    border: 5px solid white;
  }
}

@media only screen and (max-width: 400px) {
  .cl-img {
    height: 90px;
    width: 90px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 323px;
    left: 35%;
    border: 5px solid white;
  }
  .tablinks {
    font-size: 10px;
  }
  .tablink-left {
    text-align: left;
  }
  .tablink-right {
    text-align: right;
  }
}

@media only screen and (max-width: 330px) {
  .cl-img {
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 338px;
    left: 35%;
    border: 5px solid white;
  }
  .tablinks {
    font-size: 10px;
  }
}


