.trip-title {
  margin-top: 16px;
  padding-bottom: 16px;
}

.trip-icons {
  padding: 16px;

  .altitude {
    color: #e84990;
    border-color: #e84990;
    border-radius: 16px;
    width: 150px;
  }
  .summer {
    color: #7ff137;
    border-color: #7ff137;
    border-radius: 16px;
    width: 150px;
  }
  .water {
    color: #4cb6ea;
    border-color: #4cb6ea;
    border-radius: 16px;
    width: 150px;
  }
  .snow {
    color: #85f2e1;
    border-color: #85f2e1;
    border-radius: 16px;
    width: 150px;
  }
  .wind {
    color: #3d58ea;
    border-color: #3d58ea;
    border-radius: 16px;
    width: 150px;
  }
}

.card-info {
  // padding: px;
}

.trip-card {
  .card-info{
    margin-top: 8px;
  }
  .green-dot {
    color: #72ebd1;
    font-size: 8px;
  }
  .title {
    color: #a7a7a7;
  }
}
