<div class="show-holder">
  <h3 class="form-header" style="padding: 10px; text-align: center;"><%= @trip.title %> with <%=@trip.user.first_name %></h3>
  <div class ="create">
    <p>Your request has been submitted to <%= @trip.user.first_name %></p>
    <p>While you wait for a response why not...</p>
    <div class="">
      <%= link_to "View all trips", trips_path, class: " btn-call-to-action" %>
    </div>
  </div>
</div>

