<% @trip = Trip.find(params[:trip_id]) %>
<p>Your request has been submitted to <%= @trip.title %></p>
<p>While you wait for a response why not</p>
<%= link_to "Edit your profile", edit_user_path(current_user), class: "btn btn-outline-success" %>
<%= link_to "Return to Trips Index", trips_path, class: "btn btn-outline-success" %>
