
<div class="home-image">
  <div class="info">
    <h1>Seek out your dream crew</h1>
    <p>Find people who share your passion  <br /> and start planning your adventure together </p>
    <%= link_to "Browse Adventures", trips_path, :class => "underline" %>
  </div>
</div>



