
.navbar-lewagon {
  justify-content: space-between;
  z-index: 10;
  padding-bottom: 20px;
  padding-top: 5px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar img {
  width: 60px;
  height: 60px;

}

.navbar a {
  color: #3CEAD0;
  text-decoration: none;
  font-size: 24px;
  margin: 0px 8px;
 &:hover {
  text-decoration: none;
  color: black;
 }
}
  .navbar .underline {
  border-bottom: 4px solid #FFF;
  display: inline-block;
  line-height: 1.5;
  margin-right: 30px;
  margin-top: 10px;
  &:hover {
  border-bottom: 4px solid white;
  }
}

.nav-link-white {
  color: white !important;
}

.altered-navbar {
  color: black !important;
  border-bottom: 4px solid #3CEAD0 !important;
  &:hover {
    color: black !important;
  }
}

.dropdown-item {
  &:hover {
  background-color: transparent;
  }
}
