
.navbar-lewagon {
  justify-content: space-between;
  z-index: 10;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar img {
  width: 50px;
}

.navbar a {
  color: #3CEAD0;
  text-decoration: none;
  font-size: 24px;
  margin: 0px 8px;
 &:hover {
  text-decoration: none;
  color: white;
 }
}
  .navbar .underline {
  border-bottom: 4px solid #3CEAD0;
  display: inline-block;
  line-height: 1.5;
  &:hover {
  border-bottom: 4px solid white;
  }
}

.nav-link-white {
  color: white !important;
}

