.navbar-lewagon {
  justify-content: space-between;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  color: white ;
  text-decoration: none;
  font-size: 24px;
 &:hover {
  text-decoration: none;
 }
}

.underline {
  border-bottom: 4px solid black;
  display: inline-block;
  line-height: 1.5;
  &:hover{

  }
}
